<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Username is required</div>
          <div *ngIf="username.errors['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input
          type="text"
          class="form-control"
          name="first_name"
          [(ngModel)]="form.first_name"
          required
          minlength="3"
          maxlength="20"
          #first_name="ngModel"
        />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">First Name is required</div>
          <div *ngIf="username.errors['minlength']">
            First name must be at least 3 characters
          </div>
          <div *ngIf="username.errors['maxlength']">
            First name must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
      <label for="Last_Name">Last Name</label>
      <input
          type="text"
          class="form-control"
          name="last_name"
          [(ngModel)]="form.last_name"
          required
          minlength="3"
          maxlength="20"
          #last_name="ngModel"
        />
        <div class="alert-danger" *ngIf="last_name.errors && f.submitted">
          <div *ngIf="last_name.errors['required']">Last Name is required</div>
          <div *ngIf="last_name.errors['minlength']">
            Last name must be at least 3 characters
          </div>
          <div *ngIf="last_name.errors['maxlength']">
            Last name must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
          <select
            name="gender"
            class="form-control"
            [(ngModel)]="form.gender"
            required
            #gender="ngModel"
            >
             <option value="Male">Male</option>
             <option value="Female">Female</option>
          </select>
        <div class="alert-danger" *ngIf="gender.errors && f.submitted">
          <div *ngIf="gender.errors['required']">First Name is required</div>
        </div>
      </div>
      <div class="form-group">
       <label for="hobbies">Hobbies</label>
       <input
          type="text"
          class="form-control"
          name="hobbies"
          [(ngModel)]="form.hobbies"
          required
          minlength="3"
          maxlength="20"
          #hobbies="ngModel"
        />
        <div class="alert-danger" *ngIf="hobbies.errors && f.submitted">
          <div *ngIf="hobbies.errors['required']">Hobbies is required</div>
          <div *ngIf="hobbies.errors['minlength']">
            Hobbies must be at least 3 characters
          </div>
          <div *ngIf="hobbies.errors['maxlength']">
            Hobbies must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
       <label for="occupation">Occupation</label>
       <input
          type="text"
          class="form-control"
          name="occupation"
          [(ngModel)]="form.occupation"
          required
          minlength="3"
          maxlength="20"
          #occupation="ngModel"
        />
        <div class="alert-danger" *ngIf="occupation.errors && f.submitted">
          <div *ngIf="occupation.errors['required']">Occupation is required</div>
          <div *ngIf="occupation.errors['minlength']">
            Occupation must be at least 3 characters
          </div>
          <div *ngIf="occupation.errors['maxlength']">
            Occupation must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
       <label for="address">Address</label>
       <input
          type="text"
          class="form-control"
          name="address"
          [(ngModel)]="form.address"
          required
          minlength="3"
          maxlength="50"
          #address="ngModel"
        />
        <div class="alert-danger" *ngIf="address.errors && f.submitted">
          <div *ngIf="address.errors['required']">Address is required</div>
          <div *ngIf="address.errors['minlength']">
            Occupation must be at least 3 characters
          </div>
          <div *ngIf="address.errors['maxlength']">
            Occupation must be at most 50 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
